html {
    height: 100%;
    background-image: linear-gradient(to bottom right, #A78CBC, #fadadd);
    background-size: cover;
    background-repeat: no-repeat;

}

header {
    background: white;
    width: 100%;
    height: 90px;
    top: 0px;
    left: 0px;
    position: absolute;
}

.title {
    color: #A78CBC;
    font-family: Courier;
    font-size: 25px;
    position: absolute;
    left: 200px;
    top: 30px;
}


.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 200px;
    
    animation: fadein 2s;
}

.vinyl {
    display: flex;
    flex-direction: column;
}

.hover-text {
    color: white;
    font-family: Courier;
    font-size: 17px;
    margin-top: 40px;
    margin-left: 30px;
    display: none;
    
}

#second-line {
    margin-top: 5px;
}

.vinyl:hover .hover-text {
    display: block;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

.blue-vinyl:hover {
    animation: rotate 0.75s linear infinite;
}

.purple-vinyl:hover {
    animation: rotate 0.75s linear infinite; 
}

.pink-vinyl:hover {
    animation: rotate 0.75s linear infinite;
}

.navbar {
    position: absolute;
    top: 20px;
    right: 40px;
    color: #A78CBC;
    display: flex;
    flex-direction: row;
}

.navbar-item {
    display: flex;
    flex-direction: row;
    margin: 20px;
    font-size: 18px;
    font-family: Courier;
}

a {
    text-decoration: none;
    color: #A78CBC;
}

a:hover {
    text-decoration: underline;
}

@keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}